################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Spring2023
/cpp/.vs/cpp
/cpp/x64/Debug
/x64/Debug
/xai/x64/Debug
/.vs
